@import "tailwindcss";

html {
  color-scheme: light !important;
  background-color: #ffffff !important;
}

body {
  margin: 0;
  background-color: #ffffff !important;
  color: #000000 !important;
}

#root {
  min-height: 100vh;
  background-color: #ffffff !important;
  color: #000000 !important;
}